body, 
html {
    margin: 0;
    height: 100vh;
    font-family: 'Crimson Text', serif;
    background: url(header.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* set default font for all main text */
h1, h2, p, a {
    font-family: 'Crimson Text', serif;
    color: white;
}

hr {
    border: 1px solid white;
}

/* remove navbar toggler border on click */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/* bootstrap .text-center */
.text-center {
    padding: 20px 0px;
    max-width: 800px;
}

/* bootstrap button override */
.btn-xl {
    font-family: 'Crimson Text', serif;
    background-color: #d38080;
    border-color: #d38080;
    padding: 1rem 2rem;
    font-weight: 700;
    font-size: 1.1em;
    border-radius: 300px;
    text-transform: uppercase;
    outline: none;
}

.btn-xl:active, .btn-xl:hover, .btn-xl:focus {
    background-color:  rgb(199, 51, 78);
    border-color: rgb(199, 51, 78);
    transition: .2s;
}
